* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: .45%;
}

nav {
  height: 100px;
  padding: 1%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.slogan, .logo {
  float: left;
}

.logo {
  padding-right: 1%;
}

.slogan {
  border-left: 2px solid #dc005d;
  padding-left: 1%;
}

.social {
  float: right;
}

.fab {
  color: rgba(51, 51, 51, 0.521);
  font-size: 1.9em;
  margin-left: .3em;
}

.videoContainer {
  float: left;
  width: 85%;
}

video {
  width: 100%;
}

.buttonContainer {
  float: right;
  width: 15%;
}

.button {
  border: 1px solid red;
  height: 157px;
  margin-bottom: 10%;
  margin-left: 5%;
}

footer {
  float: left;
  bottom: 0;
}








