* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.slogan, .logo {
  float: left;
}
.social {
  float: right;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */


